Plugins Importing

In [18]:
import pandas as pd
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize

Data importing

In [13]:
#Data importing 
df= pd.read_csv("language-identification-datasets.csv")

Extract test data set for submission

In [10]:
dfWithLabelNan=df[df['Language'].isna()]
dfWithLabelNan

                                                    Text Language     ID
24326  [6] Encyclopædia Britannica Inc. şirketi ise a...      NaN   7823
24327                                       disculparse.      NaN   5551
24328  em  bon jovi lançou o álbum have a nice day a ...      NaN  12728
24329   mai fostul președinte egiptean mohamed morsi ...      NaN  14197
24330  otok škulj är en ö i kroatien den ligger i län...      NaN  18982
...                                                  ...      ...    ...
31007  그의 조선인 참정권 운동은 점차 조선인 지식인들 일각에서 호응을 얻기 시작하였다 민...      NaN  29033
31008  มีความยาวสูงสุดราว  เซนติเมตร เป็นปลาที่พบกระจ...      NaN  15461
31009  เอเธนส์มีประชาชนชายเพียงแค่  คน แต่มีหลายพันที...      NaN  15441
31010  marty ally y buttons se encuentran en el camin...      NaN  16450
31011  วัฏจักรเหล็กเป็นการหมุนเวียนของเหล็กในสิ่งแวดล...      NaN  19697

[6686 rows x 3 columns]

Extract Data set for training et test model

In [15]:
dfWithLabelNotNan=df[~df['Language'].isna()]
dfWithLabelNotNan

                                                    Text  Language     ID
0      şirket icra kurulu başkanı melih abdülhayoğlu ...   Turkish  26110
1      매춘업의 공식화를 주장한 민원식은 "우又 근경近頃 일본인이 주가 음식매점 등국내 도...    Korean  26862
2      خلال عظاته ركز التعليم اللاهوتي للبابا على الش...    Arabic  20562
3      soggin was born on  march  he took his first d...   English  14298
4      kulturmejeriet är sedan mitten av -talet en vi...   Swedish  17338
...                                                  ...       ...    ...
24321  "cato kirjad" catos letters on seeria esseesid...  Estonian  21054
24322  Le Wikipedia Education Program[149] permet à d...    French   3788
24323  agulid endanimetus агулар on rahvas dagestanis...  Estonian  24375
24324  آنچه مسلم است خراسان و اسفراین که شهرکی در آن ...   Persian  30268
24325  sana yardım etmeye çalışıyordu ama söyleyebile...   Turkish   8012

[24326 rows x 3 columns]

Extract only Text and Language

In [17]:
#Features extractions
df1 = dfWithLabelNotNan[['Text', 'Language']]
df1

                                                    Text  Language
0      şirket icra kurulu başkanı melih abdülhayoğlu ...   Turkish
1      매춘업의 공식화를 주장한 민원식은 "우又 근경近頃 일본인이 주가 음식매점 등국내 도...    Korean
2      خلال عظاته ركز التعليم اللاهوتي للبابا على الش...    Arabic
3      soggin was born on  march  he took his first d...   English
4      kulturmejeriet är sedan mitten av -talet en vi...   Swedish
...                                                  ...       ...
24321  "cato kirjad" catos letters on seeria esseesid...  Estonian
24322  Le Wikipedia Education Program[149] permet à d...    French
24323  agulid endanimetus агулар on rahvas dagestanis...  Estonian
24324  آنچه مسلم است خراسان و اسفراین که شهرکی در آن ...   Persian
24325  sana yardım etmeye çalışıyordu ama söyleyebile...   Turkish

[24326 rows x 2 columns]

Remove stopWords from Text

In [32]:
Language = df1['Language']

res =[*set(Lamguage)]
res

['Japanese',
 'Kannada',
 'Romanian',
 'French',
 'Urdu',
 'Russian',
 'Spanish',
 'Hindi',
 'Greek',
 'English',
 'German',
 'Korean',
 'Dutch',
 'Thai',
 'Persian',
 'Latin',
 'Turkish',
 'Swedish',
 'Pushto',
 'Arabic',
 'Portugese',
 'Estonian',
 'Chinese',
 'Indonesian',
 'Malayalam',
 'Italian',
 'Danish',
 'Tamil']